.cm_persoInfo .cm_chekoutBody{border: none!important; padding: 20px 0!important;}
.cm_persoInfo h3{margin-top: 30px; color: #333; }
.sepArticleVert{
	background: #d0d0d0;
    float: left;
    height: 360px;
    left: 40px;
    position: relative;
    top: 30px;
    width: 1px;
}
.makeAddBk article:hover{cursor: default; box-shadow: none;}
.cm_sngProRating img{border: 1px solid #d0d0d0;}
.cm_sngProRevDesc header h1{font-size: 18px; color: #333; font-weight: normal; width: 70%; float: left;}
.cm_sngProRevDesc header h1:hover{color: @brand;}
.cm_sngProRevDesc header img{float: right; margin-top: 15px; width: 97px; height: 33px;}
.totalRevLbl{margin-right: 5px; margin-top: 8px;}